<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/main.css">
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
  />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <title>Portfolio</title>
</head>
 <body> 
    <div class="frame">
        <div class="main_frame">
          <div class="left_frame">
<!-- left_1 -->
          <div class="left_1">
            <div class="left_1-1">
              <img src="images/profile.png" width="156px" height="142px" alt="">
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
  
            <div class="left-icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/facebook.png" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/instagram.png" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/twitter.png" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/linkeding.png" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/youtube.png" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/dribbble.png" class="icon-1" />
                </div>
              </a>
            </div>
          </div>
  
          <!-- left_2 -->
          <div class="marginer"></div>
          <div class="left_2">
            <div class="left_2-1">
              <span class="age">Age:</span>
              <span class="raqam">27</span>
            </div>
            <div class="left_2-1">
              <span class="Residence">Residence:</span>
              <span class="raqam">BD</span>
            </div>
            <div class="left_2-1">
              <span class="Freelance">Freelance:</span>
              <span class="raqam-1">Available</span>
            </div>
            <div class="left_2-1">
              <span class="Address">Address:</span>
              <span class="raqam">Uzbekiston</span>
            </div>
          </div>
  
          <!-- left_3 -->
          <div class="marginer"></div>
          <div class="left_3">
            <span class="til">Languages</span>
            <div class="left_3-1">
              <span class="uzb">Uzbek</span>
              <span class="foiz">100%</span>
            </div>

            <div class ="left_level">
                <div class="left_level_fill"></div>
            </div>



            <div class="chizzq"></div>
            <div class="left_3-1">
              <span class="uzb">English</span>
              <span class="foiz">80%</span>
            </div>

            <div class ="left_level">
                <div class="left_level_fill-1"></div>
            </div>


           
            <div class="left_3-1">
              <span class="uzb">Spanish</span>
              <span class="foiz">60%</span>
            </div>
            <div class ="left_level">
                <div class="left_level_fill-2"></div>
            </div>
           

           

          </div>
  
          <!-- left_4 -->
          <div class="marginer"></div>
          <div class="left_4">
            <span class="til">Skills</span>
            <div class="left_4-1">
              <span class="uzb">HTML</span>
              <span class="foiz">90%</span>
            </div>

            <div class ="left_level">
                <div class="left_level_slills-1"></div>
            </div>
           




            <div class="left_4-1">
              <span class="uzb">CSS</span>
              <span class="foiz">85%</span>
            </div>

            <div class ="left_level">
                <div class="left_level_slills-2"></div>
            </div>



            <div class="left_4-1">
              <span class="uzb">JS</span>
              <span class="foiz">80%</span>
            </div>

            <div class ="left_level">
                <div class="left_level_slills-3"></div>
            </div>



            <div class="left_4-1">
              <span class="uzb">PHP</span>
              <span class="foiz">75%</span>
            </div>

            <div class ="left_level">
                <div class="left_level_slills-4"></div>
            </div>



            <div class="left_4-1">
              <span class="uzb">WordPress</span>
              <span class="foiz">85%</span>
            </div>

            <div class ="left_level">
                <div class="left_level_slills-2"></div>
            </div>



          </div>
  
          <!-- left_5 -->
          <div class="marginer"></div>
          <div class="left_5">
            <span class="til">Extra Skills</span>

            <div class="left_5-1">
                <img src="icon/kvadratpng.png" alt="">
                <span class="uzb">Bootstrap, Materialize</span>
              </div>
              <div class="left_5-1">
                <img src="icon/kvadratpng.png" alt="">
                <span class="uzb">Stylus, Sass, Less</span>
              </div>
              <div class="left_5-1">
                <img src="icon/kvadratpng.png" alt="">
                <span class="uzb">Gulp, Webpack, Grunt</span>
              </div>
              <div class="left_5-1">
                <img src="icon/kvadratpng.png" alt="">
                <span class="uzb">GIT Knowledge</span>
              </div>
            </div>
    
          </div> <!-- YOPILMAY QOLGAN: .left_frame -->
    
          <div class="midd_frame">
            <div class="midd_top">
              <div class="hero-section">
                <div class="hero-text">
                    <img src="icon/sariq.png" class="yellow-circle" />
                    <img src="icon/yashil.png" class="green-circle" />
                  <h1>Doctor neurologists<br>in OHSU Hospital</h1>
                  <p class="matn">Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit.<br>
                    Et, Volutpat Feugiat Placerat Lobortis.</p>
                  <button class="hire-btn">HIRE ME</button>
                  
                  <img src="icon/yashil.png" class="green-circle-1" />
                  <img src="icon/kok.png" class="bulue-square" />
                </div>
                <div class="hero-image">
                    <img src="icon/kok.png" class="bulue-square-1" />
                    <img src="icon/sariq.png" class="yellow-circle_1" />
                  <img src="images/doktoe.png" alt="Doctor" class="doctor">
                  <img src="icon/zank.png" class="stop" />
                </div>
              </div>

              

            </div>

            <!-- midd-midd -->

            <!-- My Services Section -->
            <div class="midd_services">


  <div class="midd_services-title">
    <h2>My Services</h2>
    <p>Amet Minim Mollit Non Deserunt Ullamco Est Sit Aliqua Dolor<br>
      Do Amet Sint. Velit Officia Consequat Duis Enim Velit Mollit.<br>
      Lorem Ipsum</p>
  </div>  
  <div class="midd_services-cards">
    <!-- Card 1 -->
    <div class="midd_service-card">
      <img src="images/rasim1.png" alt="Web Dev">
      <h3>Web Development</h3>
      <p>Blog, E-commerce</p>
    </div><!-- Card 2 -->
<div class="midd_service-card">
  <img src="images/rasim2.png" alt="UI/UX">
  <h3>UI/UX Design</h3>
  <p>Mobile App, Website Design</p>
</div>

<!-- Card 3 -->
<div class="midd_service-card">
  <img src="images/rasim3.png" alt="Sound">
  <h3>Sound Design</h3>
  <p>Voice Over, Beat Making</p>
</div>

<!-- Card 4 -->
<div class="midd_service-card">
  <img src="images/rasim4.png" alt="Game">
  <h3>Game Design</h3>
  <p>Character Design, Props & Objects</p>
</div>

<!-- Card 5 -->
<div class="midd_service-card">
  <img src="images/rasin5.png" alt="Photography">
  <h3>Photography</h3>
  <p>Portrait, Product Photography</p>
</div>

<!-- Card 6 -->
<div class="midd_service-card">
  <h3>Advertising</h3>
  <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Vitae Nulla Diam In Ac Dictum A Urna Viverra Morbi. </p>
  <span style="color: #ffb400; font-weight: 500;">ORDER NOW</span>
</div>

  </div>


</div>








          </div>





    
          <div class="right_frame">

            <!-- <div class="right-1_frame"> -->
                <!-- Mode Toggle -->
                <div class="mode_toggle_" title="Toggle Dark/Light Mode">
                  <img src="icon/mooth.png" alt="toggle mode" />
                </div>
              
                <!-- Right Side Icons -->
                <div class="right_icon_container">
                  <div class="right_icon active" title="Home">
                   <img class="rasim_1" src="icon/Home.png" alt="home" />
                  </div>
                  <div class="right_icon" title="Portfolio">
                    <img src="icon/Service.png" alt="portfolio" />
                  </div>
                  <div class="right_icon" title="Services">
                    <img src="icon/sutudent.png" alt="services" />
                  </div>
                  <div class="right_icon" title="Projects">
                    <img src="icon/Portfolio.png" alt="projects" />
                  </div>
                  <div class="right_icon" title="Contact">
                    <img src="icon/skuver.png" alt="contact" />
                  </div>

                  <div class="right_icon" title="Contact">
                    <img src="icon/Contact.png" alt="contact" />
                  </div>


                <!-- </div> -->
              </div>


          </div>


        </div> <!-- .main_frame -->
      </div> <!-- .frame -->
    </body>
</html>